<div class="col-lg-12 col-md-12 col-xs-12 filter-frm">
  <%= form_with model: @order, url: {action: 'index' }, method: 'get' do |f| %>
    <div class="row">
      <div class="col-lg-5 col-md-5 col-xs-12">
        <%= f.label :status %><br>
        <%= f.select :filter_status, Order.statuses.map{|k, v| [k.humanize, k]} %>
      </div>
      <div class="col-lg-5 col-md-5 col-xs-12">
          <%= f.label :user %><br>
          <%= f.text_field :filter_name, value: params[:filter_name].present? ? params[:filter_name] : '' %>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-12">
        <%= link_to 'Clear Filter', orders_path %>
        <br>
        <%= f.submit 'Submit' %>
      </div>
    </div>
  <% end %>
</div>